<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

  </head>
  <body>
    <div class="cont2">
      <h2 class="donatorh2">Sign up</h2>
      <form action="/others" method="POST" autocomplete="on">
      <label class="otherslabel" for="category" name="category"><span>Category</span></label>
      <label class="otherslabel">
        <select class="otherslabel" id="category" name="category">
          <option value="" selected disabled hidden><span>Select Category</span></option>
          <option value="Orphanege"><span>Orphaneges</span></option>
          <option value="Oldagehome"><span>Old age Homes</span></option>
          <option value="Socialworkers"><span>Social Workers</span></option>
        </select>
      </label>
      <label class="otherslabel">
        <span>Name</span>
        <input type="text" name="name" />
      </label>
      <label class="otherslabel">
        <span>Place</span>
        <input type="text" name="place" />
      </label>
      <label class="otherslabel" for="district" name="district"><span>District</span></label>
      <label class="otherslabel">
        <select class="otherslabel" id="category" name="district">
          <option value="" selected disabled hidden><span>Select District</span></option>
          <option value="Alappuzha"><span>Alappuzha</span></option>
          <option value="Ernamkulam"><span>Ernamkulam</span></option>
          <option value="Idukki"><span>Idukki</span></option>
          <option value="Kannur"><span>Kannur</span></option>
          <option value="Kasargod"><span>Kasargod</span></option>
          <option value="Kollam"><span>Kollam</span></option>
          <option value="Kottayam"><span>Kottayam</span></option>
          <option value="Kozhikkode"><span>Kozhikkode</span></option>
          <option value="Malappuram"><span>Malappuram</span></option>
          <option value="Palakkad"><span>Palakkad</span></option>
          <option value="Pathanamthitta"><span>Pathanamthitta</span></option>
          <option value="Thiruvanathapuram"><span>Thiruvananthapuram</span></option>
          <option value="Thrissur"><span>Thrissur</span></option>
          <option value="Wayanad"><span>Wayanad</span></option>
        </select>
      </label>
      <label class="otherslabel">
        <span>Phone Number</span>
        <input type="tel" name="phone" />
      </label>
      <label class="otherslabel">
        <span>Email</span>
        <input type="email" name="email" />
      </label>
      <label class="otherslabel">
        <span>Password</span>
        <input type="password" name="password" />
      </label>
      <label class="otherslabel">
        <span> Confirm Password</span>
        <input type="password" name="confirmpass" />
      </label><center>
        <input type="submit" value="Submit" class="submit">

      </center>
      </form>

    </div>
  </body>
</html>