<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

  </head>
  <body>
    <div class="cont2">
      <h2 class="donatorh2">Sign up</h2>
      <label class="otherslabel" for="category"><span>Category</span></label>
      <label class="otherslabel">
        <select class="otherslabel" id="category">
          <option value="" selected disabled hidden><span>Select Category</span></option>
          <option value="orphanege"><span>Orphaneges</span></option>
          <option value="oldagehome"><span>Old age Homes</span></option>
          <option value="socialworker"><span>Social Workers</span></option>
        </select>
      </label>
      <label class="otherslabel">
        <span>Name</span>
        <input type="text" name="uname" />
      </label>
      <label class="otherslabel">
        <span>Place</span>
        <input type="text" name="location" />
      </label>
      <label class="otherslabel" for="district"><span>District</span></label>
      <label class="otherslabel">
        <select class="otherslabel" id="category">
          <option value="" selected disabled hidden><span>Select District</span></option>
          <option value="orphanege"><span>Alappuzha</span></option>
          <option value="orphanege"><span>Ernamkulam</span></option>
          <option value="orphanege"><span>Idukki</span></option>
          <option value="orphanege"><span>Kannur</span></option>
          <option value="orphanege"><span>Kasargod</span></option>
          <option value="orphanege"><span>Kollam</span></option>
          <option value="orphanege"><span>Kottayam</span></option>
          <option value="orphanege"><span>Kozhikkode</span></option>
          <option value="orphanege"><span>Malappuram</span></option>
          <option value="orphanege"><span>Palakkad</span></option>
          <option value="orphanege"><span>Pathanamthitta</span></option>
          <option value="orphanege"><span>Thiruvananthapuram</span></option>
          <option value="orphanege"><span>Thrissur</span></option>
          <option value="orphanege"><span>Wayanad</span></option>
        </select>
      </label>
      <label class="otherslabel">
        <span>Mobile No</span>
        <input type="tel" name="mobile" />
      </label>
      <label class="otherslabel">
        <span>Email</span>
        <input type="email" name="email" />
      </label>
      <label class="otherslabel">
        <span>Password</span>
        <input type="password" name="password" />
      </label>
      <label class="otherslabel">
        <span> Confirm Password</span>
        <input type="password" name="password" />
      </label><center>
        <button class="submit" type="button">Submit</button>

      </center>

    </div>
  </body>
</html>